.background {
  width: 100%;
  height: 12rem;
}

.errorMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorText {
  font-size: var(--font-size-post-medium);
  margin-bottom: .2vw;
  text-align: center;
}

.errorDescription {
  font-size: var(--font-size-post-small);
  margin: 0;
  color: var(--additional-text-color);
}

.errorDescription a {
  color: #00f;
}
