.item {
  align-items: center;
  color: #000000de;
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.itemValueWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.itemValue {
  width: 90%;
}

.done {
  color: #0000004e;
  text-decoration: line-through;
}

.deleteBtn {
  opacity: 0;
  transition: opacity .4s ease-out !important;
}

.item:hover .deleteBtn {
  opacity: 1;
}
