.item {
  align-content: stretch;
  color: #000000de;
  display: flex;
  justify-content: space-between;
  width: 95%;
  max-height: 100%;
  margin-bottom: 1rem;
  transition: transform, linear, .2s;
}

.isDrag {
  box-shadow: 0 8px 8px -4px #223c5033;
}

.itemValueWrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.animation {
  transform: translate(30px, 10px) scale(1.1);
}

.itemValue {
  width: 90%;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 .3rem;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.itemValue:hover {
  cursor: pointer;
}

[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}

.done {
  color: #0000004e;
  text-decoration: line-through;
}

.deleteBtn {
  opacity: 0;
  height: 100%;
  transition: opacity .4s ease-out !important;
}

.item:hover .deleteBtn {
  opacity: 1;
}
