.item {
  align-content: stretch;
  color: #000000de;
  display: flex;
  justify-content: space-between;
  width: 95%;
  max-height: 100%;
  margin-bottom: 1rem;
  transition: transform, linear, .2s;
}

.isDrag {
  box-shadow: 0 8px 8px -4px #223c5033;
  border: 1px dotted var(--active-button-color);
  border-radius: 0.3rem;
}

.itemValueWrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.toUpAnimation {
  transform: translate(2rem, -.6rem) scale(1.1);
}

.toBottomAnimation {
  transform: translate(2rem, .6rem) scale(1.1);
}

.itemValue {
  max-width: 90%;
  width: fit-content;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 .3rem;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.itemValue:hover {
  cursor: pointer;
}

/*.itemValue[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}
*/

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.done {
  color: #0000004e;
  text-decoration: line-through;
}

.deleteBtn {
  opacity: 0;
  height: 100%;
  transition: opacity .4s ease-out !important;
}

.item:hover .deleteBtn {
  opacity: 1;
}


@media (max-width: 519px) {
  .item {
    width: 100%;
  }
}
