.item {
  align-content: stretch;
  display: flex;
  justify-content: space-between;
  width: 95%;
  max-height: 100%;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.draggable {
  cursor: move;
}

.touchActionsOff {
  touch-action: none;
}

.itemValueWrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.itemValue {
  max-width: 90%;
  width: fit-content;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 .3rem;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.itemValue:hover {
  cursor: pointer;
}

.wrongInputValue:focus-visible {
  outline: 2px dashed #900;
}

.itemValue[contenteditable = "true"] {
  user-select: auto;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.done {
  color: #0000004e;
  text-decoration: line-through;
}

.deleteBtn {
  color: #606060!important;
  height: 100%;
  transition: opacity .4s ease-out !important;
}

.deleteBtn:hover {
  color: #ffffff!important;
  background-color: var(--additional-button-color)!important;
}

.deleteBtn:active {
  background-color: var(--active-button-color)!important;
}

.item:hover .deleteBtn {
  opacity: 1;
}

.DragHandleIcon {
  color: var(--main-text-color);
  margin: .4rem;
}

@media (max-width: 519px) {
  .item {
    width: 100%;
  }
}
