.item {
  align-items: center;
  color: #000000de;
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-bottom: 1rem;
  transition: transform, linear, 1s;
}

.gap {
  transform: translateY(30px);
}

.itemValueWrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.itemValue {
  width: 90%;
  padding: 0 .3rem;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.itemValue:hover {
  cursor: pointer;
}

[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}

.done {
  color: #0000004e;
  text-decoration: line-through;
}

.deleteBtn {
  opacity: 0;
  transition: opacity .4s ease-out !important;
}

.item:hover .deleteBtn {
  opacity: 1;
}
