.menu {
  height: 100%;
  width: 16%;
}

.link {
  color: unset;
  text-decoration: unset;
}

@media (max-width: 768px) {
  .menu {
    width: 95%;
    margin: 0 auto 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menuList {
    display: flex;
    padding: 0 1rem;
  }

  .divider {
    display: none;
  }
}
