.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.pagination input {
  font-size: 1rem;
  color: var(--main-text-color);
  margin: 0 .2rem;
  width: 2rem;
  height: 2rem;
}

.pagination .active {
  color: #900;
  margin: 0 .8rem;
  font-weight: bold;
}
