@font-face {
    font-family: montserrat;
    src: url('./fonts/JetBrainsMono-Medium.woff2') format('woff2'),
    url('./fonts/JetBrainsMono-Medium.woff') format('woff'),
    url('./fonts/JetBrainsMono-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: montserrat;
    src: url('./fonts/JetBrainsMono-Bold.woff2') format('woff2'),
    url('./fonts/JetBrainsMono-Bold.woff') format('woff'),
    url('./fonts/JetBrainsMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.wrapper {
  font-family: montserrat;
  margin: auto;
  padding: 0 2em;
  width: 30em;
}

.title {
  font-weight: 700;
}
