.body {
  font-family: roboto, sans-serif;
  width: 46em;
  margin: auto;
}


.appWrapper {
  display: flex;
  justify-content: center;
}
.routeWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 768px) {
  .appWrapper {
    flex-direction: column;
  }
}
