:root {
  --color-active: red;
}
@font-face {
    font-family: montserrat;
    src: url('./fonts/montserrat-400-normal.woff2') format('woff2'),
    url('./fonts/montserrat-400-normal.woff') format('woff'),
    url('./fonts/montserrat-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: montserrat;
    src: url('./fonts/montserrat-700-normal.woff2') format('woff2'),
    url('./fonts/montserrat-700-normal.woff') format('woff'),
    url('./fonts/montserrat-700-normal.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.body {
  font-family: montserrat;
  width: 46em;
  margin: auto;
}

.appWrapper {
  display: flex;
  justify-content: center;
}
