.wrapper {
  /*position: relative;*/
}

.listItem {
  /*position: absolute;*/
  margin: .5rem;
  padding: .5rem;
  border: dotted 1px #f50057;
  touch-action: none;
  user-select: none;
  /*transition: transform .1s ease-out;*/

}
