@media (max-width: 768px) {
  .list {
    padding-left: 0;
  }
}

@media (max-width: 579px) {
  .list {
    font-size: .9rem;
  }
}

@media (max-width: 540px) {
  .list {
    font-size: .8rem;
    word-break: break-all;
  }
}
