.item {
  align-items: center;
  color: #000000de;
  display: flex;
  justify-content: space-between;
}

.done {
  color: #0000004e;
  text-decoration: line-through;
}

.deleteBtn {
  opacity: 0;
  transition: opacity .2s ease-out ;
}

.itemWrap:hover .deleteBtn {
  opacity: 1;
}
