.item {
  align-items: center;
  color: #000000de;
  display: flex;
  justify-content: space-between;
  margin: .8em;
  padding: .4em;
}

.item:hover {
  cursor: pointer;
}

.done {
  color: #0000004e;
  text-decoration: line-through;
}
