.reposWrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.noScrollWrapper {
  height: 24.5rem;
  width: 103%;
  overflow: auto;
}

.scrollbar {
  background: red;
  height: 100%;
  width: 0.4rem;
  position: absolute;
  top: 0;
  right: 0;
}

.thumb {
  width: 100%;
  height: 5rem;
  border-radius: 1rem;
  background: #000;
  transition: transform .1s linear;;
}

@media (hover: none) {
  .noScrollWrapper {
    width: 100%;
  }
}
