.footerItem {
  display: flex;
  align-items: center;
  fill: var(--additional-text-color);
}

.margin {
  margin-right: 1.2rem;
}

.margin svg {
  margin-right: .4rem;
}

.language {
}

.JavaScript-color {
  fill: #ffc700;
}

.HTML-color {
  fill: #e00000;
}

.CSS-color {
  fill: #0094ff;
}
