:root {
  --main-text-color: #1c154e;
  --additional-text-color: #999999;
  --unchoiced-text-color: #a7a2cb;
  --placeholder-text-color: #d0d3e2;
  --stroke-color: #e1e3ee;
  --additional-bg-color: #f4f5fa;
  --shadow-color: #e2e7ff;
  --main-button-color: #23c967;
  --disabled-button-color: #d0d3e2;
  --text-button-color: #fff;
  --additional-button-color: #ea717f;

  --font-size-large:  1.8rem;
  --font-size-prelarge:  1.5rem;
  --font-size-medium:  1rem;
  --font-size-small:  .8rem;
}

body {
  background: var(--additional-bg-color);
  color: var(--main-text-color);
  font-family: roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 2vw;
}

svg,
path {
  fill: inherit;
  stroke: inherit;
}
