.contentWrapper {
  width: 35.6rem;
  overflow: hidden;
  position: relative;
}

.noScrollWrapper {
  height: 25rem;
  width: 36.55rem;
  overflow: auto;
}

.scrollbar {
  width: 0.4rem;
  position: absolute;
  top: 0;
  right: 0;
}

.hideScrollbar {
  visibility: hidden;
}

.thumb {
  width: 100%;
  height: 5rem;
  border-radius: 1rem;
  background: var(--additional-text-color);
  transition: transform .1s linear;;
}

@media (hover: none) {
  .noScrollWrapper {
    width: 100%;
    padding-right: 2%;
  }
}
