.contactsInner {
  display: flex;
  justify-content: space-between;
}

.avatar {
  width: 16vw;
  border-radius: 1vw;
  height: fit-content;
  align-self: center;
}

.contactsWrapper {
  width: 35vw;
}
