.contactsInner {
  display: flex;
}

.avatar {
  width: 11rem;
  border-radius: 1vw;
  align-self: center;
  margin-right: 2rem;
}

.contactsWrapper {
  align-self: flex-end;
  width: 100%;
}

.content {
  font-size: var(--font-size-small);
  font-weight: 400;
  font-family: roboto, sans-serif;
  color: var(--additional-text-color);
}

.networks {
  display: flex;
  justify-content: flex-end;
}
